<h1>All Contacts</h1>
<a href="/client/contacts/new">
  <button class="button">
    Add a new contact!
  </button> 
</a>
<hr>
<% @contacts.each do |contact| %>
  <p>Id:<%= contact['id'] %> </p>
  <p>Name: <%= contact['formatted']['full_name'] %> </p>
  <p>Middle Name: <%= contact['middle_name'] %> </p>
<!--   <p>First Name:  <%= contact['first_name'] %> </p>
  <p>Last Name: <%= contact['last_name'] %> </p> -->
  <p>Email: <%= contact['email'] %> </p>
  <p>Bio: <%= contact['bio'] %> </p>
  <p>Phone Number: <%= contact['formatted']['japanese_number'] %> </p>
  <p>Last updated on: <%= contact['formatted']['updated_at'] %></p>
  <a href="/client/contacts/<%= contact['id'] %>/">
    <button class="button">
      View
    </button> 
  </a>
  <hr>
<% end %>