<h1>Contact #<%= @contact['id']%></h1>

<!-- <p>Id: <%= @contact['id'] %> </p> -->
<p>First Name: <%= @contact['first_name'] %> </p>
<p>Last Name: <%= @contact['last_name'] %> </p>
<p>Email: <%= @contact['email'] %> </p>
<p>Phone Number: <%= @contact['phone_number'] %> </p>

<a href="/client/contacts/">
  <button class="button">
    Go Home
  </button> 
</a>