<h1>Contact #<%= @contact['id']%></h1>

<!-- <p>Id: <%= @contact['id'] %> </p> -->
<p>First Name: <%= @contact['first_name'] %> </p>
<p>Last Name: <%= @contact['last_name'] %> </p>
<p>Email: <%= @contact['email'] %> </p>
<p>Phone Number: <%= @contact['formatted']['japanese_number'] %> </p>
<p>Last updated on: <%= @contact['formatted']['updated_at'] %></p>
<a href="/client/contacts/">
  <button class="button">Home</button>
</a> 

<a href="/client/contacts/<%= @contact['id'] %>/edit">
  <button class="button">Edit</button> 
</a>
